$gray1: #181818;
$gray2: #303030;
$gray3: #ababab;
$gray4: rgb(216 222 228);
$logoback: #000;
$highlight: #6f47e5;
$navWidth: 13rem;

$mainBack: #1c1c1c;
$mainBackEven: #242424;
$subtitleColor: #a5a5a5;

$paddingSectionHorizontal: 5rem;
$paddingSectionVertical: 10rem;
$paddingSectionSmallScreen: 3rem;
